.headerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 2.5%;
    height: 150px;
    box-shadow: 10px 5px 20px black;
    background: var(--faded);
}

.title {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 600;
    color: var(--pri);
}

.login {
    float: right;
    margin-left: auto;
}
.login .link {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
}
.login button {
    padding: 5px;
    font-size: 15px;
    width: 120px;
    height: 50px;
    background-color: var(--greOff);
    color: var(--faded);
    border: none;
    border-radius: 50px;
    font-weight: 600;
}

.login button:hover {
    cursor : pointer
}